/* changing the dormat of the whole html file */
html{
    /* background color ctr+/ */
    background-color: black; 
    /* changing the font color */
    color: white;
}

div{
    box-sizing: border-box;
}

body{
    margin: 0;
}
#navbar{
    height: 70px;
    font-size: larger;
}

#flex{
    display: flex;
    height: calc(100vh - 52px);
}

.container{
    border-style: dotted;
    border-color: white;
    border-width: 1px;
}

#Main{
    width:70%;
}
#Sidebar{
    width: 30%;
}